{% extends 'base.html' %}
{% load static %}
{% block title %} Home - E-webfala {% endblock %}
{% block content %}
<div class="flex flex-col md:flex-row bg-primary p-8 rounded-lg">
  <div class="md:w-1/3 mb-6 md:mb-0">
    <img src="{% static 'heroimg.jpeg' %}"
      alt="A high-quality image of a person watching an online course on their laptop, with the course material displayed on the screen in a clear and engaging way, showing the user interface of the online learning platform"
      class="w-full h-auto object-cover rounded-lg" width="400" height="300" />
  </div>
  <div class="md:w-2/3 md:pl-8">
    <h2 class="text-3xl font-bold text-secondary mb-4">
      Learn from the Best Online Courses
    </h2>
    <p class="text-lg text-accent mb-6">
      Unlock your potential with our comprehensive online courses. Explore a
      wide range of topics taught by industry experts and gain valuable skills
      to advance your career or pursue your passions.
    </p>
    <a href="#"
      class="bg-accent text-primary py-3 rounded-lg text-lg font-semibold duration-300 underline text-purple-600 hover:text-purple-800 active:text-red-500">Browse
      Courses</a>
  </div>
</div>

<div class="bg-white p-8 rounded-lg mt-8">
  <h3 class="text-2xl font-bold text-secondary mb-4">Featured Courses</h3>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

    {% for course in courses %}
    <div class="bg-primary p-6 rounded-lg">
      <img src="{{ course.image_url }}" alt="Course Image" class="w-full h-auto object-cover rounded-lg mb-4"
        width="400" height="225" />
      <h4 class="text-xl font-semibold text-secondary mb-2">
        {{ course.title }}
      </h4>
      <p class="text-accent mb-4">
        {{ course.description }}
      </p>
      <p class="text-lg font-bold text-secondary mb-4">₦{{ course.price }}</p> <!-- Price Section -->
      <a href="{% url 'payments' %}?course_id={{ course.id }}"
        class="text-accent hover:text-secondary transition-colors duration-300">Enroll Now ➔</a>
    </div>
    {% endfor %}

  </div>
</div>
{% endblock %}